<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>File Sharing System</h1>
    <form action="/file-sharing-system/uploads/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    <ul>
        <% files.forEach(file => { %>
            <li>
                <%= file.filename %>
                <a href="/download/<%= file._id %>">Download</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
